<meta property="og:url"                content="{{site.url}}/{{page.permalink}}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{page.shortname}} {% include indexmod.html %}" />
<meta property="og:description"        content="{{ page.originlang }} {{ page.originspell }}; {{ page.appearing }} {{ page.birth }} in {{ page.city }} is {{ page.origin }} {{ page.profession}}"/>
<meta property="og:image"              content="{{site.url}}/images/{{page.permalink}}.jpg" />
<meta property="fb:app_id"             content="1533996030379084"/>
<meta property="og:site_name"          content="Indexmod"/>
