<meta content="{{site.url}}/{{page.permalink}}" property="og:url">
 <meta content="article" property="og:type">
 <meta content="{{page.title}}" property="og:title">
 <meta content="{{site.url}}/images/{{page.permalink}}.jpg" property="og:image">
 <meta content="Indexmod" property="og:site_name">
 <meta content="The animation performed best in Google Chrome and Firefox. This is an article of the “{{page.title}}” at {{site.title}}." property="og:description">
 <meta content="1533996030379084" property="fb:app_id">
