<p id="indexmod-bottom"><span class="string"><a href="https://books.google.com/ngrams/graph?content={{ page.shortname }}">{{ page.shortname }} {% include indexmod.html %}</a></span> <span class="one">is an Indexmod of the “{{ page.givenname }} {{ page.familyname }} ({{ page.othername }})” at the <a href="index">{{ site.title }}</a> at {{ site.time | date_to_long_string }}</span></p>
<br>
<p><span class="rate">What is Indexmod?</span> This is merged rates from Facebook, Instagram, YouTube, Twitter ect. tied in with year and article size. <a href="https://indexmod.gq/indexmod">Details</a></p>
