<!DOCTYPE html>
<html>
<body>
<hr>
<p>Read the post about this visual concept at Medium.com: <a class="one" href="https://medium.com/@andreideinichenko/svg-индикаторы-статистики-в-альтернативной-вселенной-проекта-индексмод-блокчейнпедия-325dc5cf3c1b">SVG индикаторы статистики в «альтернативной вселенной» проекта «Индексмод блокчейнпедия»" (3 min.)</a></p>
<hr>
<p><a class="one" href="edit">How to edit</a></p>
<p><a class="one" href="qa">QA</a></p>
<p><a class="one" href="https://www.facebook.com/groups/indexmod/">Facebook</a></p>
</body>
</html>
