<!DOCTYPE html>
<html>
<body>
<p><a class="one" href="https://medium.com/@andreideinichenko/svg-индикаторы-статистики-в-альтернативной-вселенной-проекта-индексмод-блокчейнпедия-325dc5cf3c1b">SVG-indicators of statistics in the "alternative universe" of the project "Indexmod Blockchainpedia" (Rus. / 3 min.)</a></p>
<p><a class="one" href="edit">How to edit</a></p>
<p><a class="one" href="qa">QA</a></p>
<p><a class="one" href="https://www.facebook.com/groups/indexmod/">Facebook</a></p>
</body>
</html>
