<svg height="200" width="200">
  <defs>
    <radialGradient id="grad1" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
      <stop offset="0%" style="stop-color:rgb(255,232,241);stop-opacity:0" />
      <stop offset="100%" style="stop-color:rgb(0,0,0);stop-opacity:1" />
    </radialGradient>
  </defs>
  <ellipse stroke="#ffe8f1" stroke-width="{% include stroke.html %}" cx="100" cy="100" rx="{% include radius.html %}" ry="{% include radius.html  | plus 1 %}" fill="url(#grad1)" />
  <animateTransform attributeName="transform" type="scale" additive="sum" from="1 1" to="2 2" begin="0s" dur="3s" repeatCount="indefinite"></animateTransform>
<animateTransform attributeName="transform" type="scale" additive="sum" from="2 2" to="1 1" begin="3s" dur="3s" repeatCount="indefinite"></animateTransform>
<animateTransform attributeName="transform"
        type="rotate"
            from="0 50 50"
            to="360 50 50"
            begin="1s"
            dur="2s"
            repeatCount="indefinite"
        />
</svg>
