<svg height="100px" width="100px">

  	<defs>
			<radialgradient cx="50%" cy="50%" fx="50%" fy="50%" id="grad" r="50%">
				<stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
				<stop offset="100%" style="stop-color:rgb(0,0,0);stop-opacity:1"></stop>
			</radialgradient>
		</defs>
		<ellipse cx="50" cy="50" fill="url(#grad)" rx="10" ry="10" stroke="rgb(0,{% include indexmod.html %},0)" fill-opacity="0.5" stroke-opacity="{% include indexmod.html %}" stroke-width="{% include stroke.html %}"></ellipse>

		<animatetransform additive="sum" attributename="transform" begin="0s" dur="5s" from="1 1" repeatcount="indefinite" to="2 2" type="scale">
		</animatetransform>
		<animatetransform additive="sum" attributename="transform" begin="5s" dur="5s" from="2 2" repeatcount="indefinite" to="1 1" type="scale">
		</animatetransform>
  </svg>
