<!DOCTYPE html>
<html>
<body>

{% assign number_of_words = content | strip_html | number_of_words %}
{% assign social = page.facebook | plus: page.instagram | plus: page.youtube | plus: page.vimeo | plus: page.vkontakte | plus: page.twitter | plus: page.tumblr | plus: page.youtube | plus: page.soundcloud %}
{% assign age = site.time | date: "%Y" | minus: page.birth %}
{% assign index = age | times: social | divided_by: 1000000.0 %}
{% assign indexmod = index | times: number_of_words | divided_by: 100 %}

<h1>{{ indexmod | round: 0 }}</h1>
<h2>{{ age }}</h2>

<p><svg width="100" height="100">
   <circle cx="50" cy="50" r="40" stroke="green" stroke-width="0px" fill="rgb({{age}}, 149, 237)" />
   Sorry, your browser does not support inline SVG.
</svg><p>

</body>
</html>
