<h2>Hi!<h2>
<p class="memo">You are now at Indexmod blockchainpedia — an alternative wiki. Since 2006, I am working over the Indexmod <a href="https://indexmod.gq/identity-of-indexmod">concept</a> and welcoming today to edit articles about fashion and art, become a <a href="https://indexmod.gq/indexmod-curators">curator</a>. Every tiny changes of any page are recording and stores in cloud blockchain on Web. Write about new brands and artists, <a href="https://indexmod.gq/edit"></a>edit</a> existing pages, create new articles, explore value of <a href="https://indexmod.gq/indexmod-blockchainpedia">Indexmod</a>.</p>

<p><a href="https://indexmod.gq/deinichenko-andrei">Andrei Dei</a></p>
<p>Founder, developer, editor of the Indexmod blockchainpedia</p>
