{% assign number_of_words = content | strip_html | number_of_words %}
{% assign social = page.facebook | plus: page.instagram | plus: page.youtube | plus: page.vimeo | plus: page.vkontakte | plus: page.twitter | plus: page.tumblr | plus: page.youtube | plus: page.soundcloud %}
{% assign age = site.time | date: "%Y" | minus: page.birth %}
{% assign index = age | times: social | divided_by: 1000000.0 %}
{% assign space = index | times: number_of_words | divided_by: 1000 | plus: 220 %}

{{ space | round: 0 }}
