<table style="width:90%">
<tr>
    <td>Given: <b>{{page.givenname}}</b></td>
    </tr>
    <tr>
    <td>Family: <b>{{page.familyname}}</b></td>
    </tr>
    <tr>
    <td>Other: <b>{{page.othername}}</b></td>
    </tr>
    <tr>
    <td>Born/Est.: <b>{{ page.birth }}</b></td>
  </tr>
  <tr>
    <td>Age: <b>{{ site.time | date: "%Y" | minus: page.birth }}</b></td>
  </tr>
  <tr>
    <td>Place: <b>{{ page.city }}</b></td>
  </tr>
    <tr>
    <td>Founder: <b>{{ page.founder }}</b></td>
  </tr>
</table>
