<table class="top" style="width:99%">
<tr>
    <td><b>Name:</b> <br>{{page.givenname}}</td>
    </tr>
    <tr>
    <td><b>Surname:</b> <br>{{page.familyname}}</td>
    </tr>
    <tr>
    <td><b>Other:</b> <br>{{page.othername}}</td>
    </tr>
    <tr>
        <td><b>{{ page.appearing }}:</b> {{ page.birth }}</td>
  </tr>
  <tr>
    <td><b>Age:</b> <span class="toptable-meta">{{ site.time | date: "%Y" | minus: page.birth }}</span></td>
  </tr>
  <tr>
    <td><b>Place:</b> <span class="toptable-meta">{{ page.city }}</span></td>
  </tr>
    <tr>
    <td><b>Founder:</b> <span class="toptable-meta">{{ page.founder }}</span></td>
  </tr>
    <tr>
    <td><b>Facebook:</b> <span class="toptable-meta">{{ page.facebook }}</span></td>
  </tr>
    <tr>
    <td><b>Instagram:</b> <span class="toptable-meta">{{ page.instagram }}</span></td>
  </tr>
    <tr>
    <td><b>Vkontakte:</b> <span class="toptable-meta">{{ page.vkontakte }}</span></td>
  </tr>
  <tr>
  <td><b>Vimeo:</b> <span class="toptable-meta">{{ page.vimeo }}</span></td>
</tr>
    <tr>
    <td><b>Youtube:</b> <span class="toptable-meta">{{ page.youtube }}</span></td>
  </tr>
</table>
