<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<table class="top" style="width:100%">
		<tr>
			<td>Name: <span class="toptable-meta">{{page.givenname}} {{page.familyname}}</span></td>
		</tr>
		<tr>
			<td>Other: <span class="toptable-meta">{{page.othername}}</span></td>
		</tr>
		<tr>
			<td>{{ page.appearing }}: <span class="toptable-meta">{{ page.birth }}</span></td>
		</tr>
		<tr>
			<td>Age: <span class="toptable-meta">{{ site.time | date: "%Y" | minus: page.birth }}</span></td>
		</tr>
		<tr>
			<td>City: <span class="toptable-meta">{{ page.city }}</span></td>
		</tr>
		<tr>
			<td>Founder: <span class="toptable-meta">{{ page.founder }}</span></td>
		</tr>
		<tr>
			<td>Facebook: <span class="toptable-meta">{{ page.facebook }}</span></td>
		</tr>
		<tr>
			<td>Instagram: <span class="toptable-meta">{{ page.instagram }}</span></td>
		</tr>
		<tr>
			<td>Twitter: <span class="toptable-meta">{{ page.twitter }}</span></td>
		</tr>
		<tr>
			<td>Youtube: <span class="toptable-meta">{{ page.youtube }}</span></td>
		</tr>
	</table>
</body>
</html>
