---
---
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');



html {
	height: 100%;
}

h1
{
	font-family: 'Old Standard TT', serif;
	font-size: 42px;
	line-height: 1.5em;
	font-weight: 900;
	color: black;
}

p
{
	font-family: 'Old Standard TT', serif;
	font-size: 5px;
	line-height: 1.5em;
	font-weight: 900;
	color: black;
}

text
{
	font-family: 'Old Standard TT', serif;
	font-size: 18px;
	line-height: 1.5em;
	font-weight: 900;
	color: black;
}
