---
---
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');



html {
	height: 100%;
}

h1
{
	font-family: 'Old Standard TT', serif;
	font-size: 42px;
	line-height: 1.5em;
	font-weight: 900;
	color: black;
}

p
{
	font-family: 'Old Standard TT', serif;
	font-size: 5px;
	line-height: 1.5em;
	font-weight: 900;
	color: black;
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

p.age
{
	font-family: 'Old Standard TT', serif;
	font-size: 12px;
	line-height: 2em;
	font-weight: 900;
	color: green;
	text-align: center;
}

p.shortname
{
	font-family: 'Monaco', serif;
	font-size: 10px;
	line-height: 1em;
	font-weight: 100;
	color: black;
	text-align: center;
}

#spheres {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

#spheres svg {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}
a:hover {
	color: green;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
