---
---
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');


body {

	max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;

	}

.intro {
	font-family: 'Verdana';
	font-size: 24px;
	font-weight: 700;
	line-height: 1.5em;
	list-style-type: none;
}

.tooltip {
	  font-family: 'Verdana';
	  font-size: 24px;
	  font-weight: 700;
	  line-height: 1em;
    position: relative;
    display: inline-block;
    border-bottom: 0px dotted white;
}

.tooltip .tooltiptext {
	  font-family: 'Verdana';
		font-size: 24px;
	  font-weight: 700;
	  line-height: 1em;
    visibility: hidden;
    width: 50px;
    background-color: silver;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
		/* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.date {
	font-family: 'Verdana', serif;
	font-size: 24px;
	line-height: 1.3em;
	font-weight: 200;
	color: black;
}

p {
	font-family: 'Old Standard TT', serif;
	font-size: 24px;
	line-height: 1.4em;
	font-weight: 500;
	color: black;
}
h1 {
	font-family: 'Old Standard TT', serif;
	font-size: 40px;
	font-weight: 900;
	line-height: 1em;
	color: black;
}

h2, h3, h4, h5, h6 {
	font-family: 'Verdana';
	font-size: 29px;
	font-weight: 900;
	line-height: 1em;
	color: black;
}


table {
	width: 100%;
	font-family: 'Verdana', serif;
	font-size: 15px;
	line-height: 1em;
	font-weight: 100;
	color: black;
	border-collapse: collapse;
}
th {
	font-family: 'Verdana', serif;
	background-color: white;
	color: black;
	font-weight: 900;
	padding: 9px;
	text-align: left;
	height: auto;
	vertical-align: top;
	border: 0.1px solid silver;
}
td {
	padding: 9px;
	text-align: left;
	font-weight: 100;
	height: auto;
	vertical-align: top;
	border: 0.1px solid black;
}
tr:hover {
	background-color: yellow;
}
.highlighter-rouge {
	font-family: 'Verdana';
	font-size: 15px;
	line-height: 4em;
	font-weight: 100;
	color: black;
	border: solid 0.1px black;
	background-color: white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 9px 9px;
}
del {
	color: silver;
}

strong {
	color: black;
	font-family: 'Verdana';
	font-size: 24px;
	line-height:15px;
	font-weight: 500;
}
em {
	color: black;
	font-size: 24px;
	line-height: 0.1em;
	font-weight: 500;
}

li {
	font-family: 'Verdana';
	font-size: 25px;
	line-height: 1.6em;
	font-weight: 900;
	color: #4e80d8;
}
ul {
	font-family: 'Old Standard TT', serif;
	font-size: 24px;
	line-height: 1.6em;
	font-weight: 900;
	color: #454343;
}

a.one:link {color:#4e80d8; font-family: 'Verdana'; font-size: 24px; line-height:15px; font-weight: 900;}
a.one:visited {color:#4e80d8; font-family: 'Verdana'; font-size: 24px; line-height:15px; font-weight: 900;}
a.one:hover {color:green; font-family: 'Verdana'; font-size: 24px; line-height:15px; font-weight: 900;}

a:link {
	color: #4e80d8;
	text-decoration: none;
	font-weight: 700;
}
a:visited {
	color: #4e80d8;
	text-decoration: none;
	font-weight: 700;
}
a:hover {
	color: green;
	text-decoration: none;
	font-weight: 700;
}
a:active {
	color: #4e80d8;
	text-decoration: none;
	font-weight: 700;
}

img {
	max-width: 100%;
	min-width: 100%;
	height: auto;
	margin: 0em 0em 0em 0em;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.container {
	width: 50px;
}
.container img {
	display: block;
	width: 100%;
	height: auto;
}
