<!DOCTYPE html>
<head>
{% include facebook-campaign.html %}
{% include yandex.html %}
{% include google.html %}
{% include meta.html %}
{% include favicon.html %}
</head>
<body>
<h1>{{page.title}}</h1>
{% include topblock.html %}
{% include top.html %}
<hr>
{% include edit.html %}
{{ content }}
{% include share-edit.html %}
<hr>
{% include footer-1.html %}
{% include footer-2.html %}
<div class="container">
<a href="index"><img alt="Indexmod" src="/identity/indexmod-2018.png" style="width:auto;height:auto;border:0;"></a>
</div>
<p>{{ site.time | date: "%Y" }} © Indexmod</p>
</body>
</html>
