<!DOCTYPE html>
<head>
{% include facebook.html %}
{% include yandex.html %}
{% include favicon.html %}
{% include meta.html %}
</head>
<body>
<h1>{{page.title}}</h1>
{% include topblock.html %}
{% include top.html %}
<br>
<hr noshade>
{% include edit.html %}
<br>
{{ content }}
<br>
{% include share-edit.html %}
<hr noshade>
<br>
{% include footer-1.html %}
{% include footer-2.html %}
<div class="container">
<a href="index"><img alt="Indexmod" src="/indexmod-eye.gif" style="width:auto;height:auto;border:0;"></a>
</div>
<p>{{ site.time | date: "%Y" }} © Indexmod</p>
</body>
</html>
