<!DOCTYPE html>
<html lang="{{ site.lang | default: EN }}">
<head>
	{% include meta.html %}
	{% include favicon.html %}
	{% include facebook.html %}
</head>
<body>
	<link href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">
	<div class="wrapper">
		<header>
			<div class="container">
				<a href="index"><img src="/indexmod-eye.gif" alt="Indexmod" style="width:auto;height:auto;border:0;">
</a><br>
			</div>
		</header>
		<section>
			<h1>{{page.title}}</h1>
			<p>{% include share-edit.html %}</p>
			{{ content }}
			</div>
		</section>
		<footer>
			{% include footer.html %}
		</footer>
</div>
</body>
</html>
